In [1]:
import pandas

In [2]:
pandas.__version__

'1.2.4'

In [5]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

In [12]:
df

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [13]:
len(df)

126314

In [14]:
df.shape

(126314, 23)

In [20]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN

In [17]:
pd.set_option("display.precision", 2)

In [19]:
df.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [21]:
df["team_id"].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
PIT      60
DTF      60
INJ      60
TRH      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [22]:
df["fran_id"].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Ironmen           60
Jets              60
Huskies           60
Falcons           60
Name: fran_id, dtype: int64

In [24]:
df.loc[df["team_id"]=="BOS", 'pts'].max()

173

In [25]:
df.loc[100:150, :]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
100,51,194611260DTF,NBA,0,1947,11/26/1946,11,0,DTF,Falcons,...,42.86,CLR,Rebels,46,1311.47,1300.31,H,W,0.63,NaN
101,51,194611260DTF,NBA,1,1947,11/26/1946,8,0,CLR,Rebels,...,41.03,DTF,Falcons,66,1306.60,1317.76,A,L,0.37,NaN
102,52,194611260GSW,NBA,0,1947,11/26/1946,5,0,PHW,Warriors,...,41.07,BOS,Celtics,54,1234.66,1228.79,H,W,0.72,NaN
103,52,194611260GSW,NBA,1,1947,11/26/1946,11,0,BOS,Celtics,...,33.61,PHW,Warriors,66,1294.76,1300.63,A,L,0.28,NaN
104,53,194611260TRH,NBA,0,1947,11/26/1946,11,0,TRH,Huskies,...,36.86,WSC,Capitols,78,1353.68,1364.74,H,L,0.53,NaN
105,53,194611260TRH,NBA,1,1947,11/26/1946,10,0,WSC,Capitols,...,47.73,TRH,Huskies,68,1271.45,1260.38,A,W,0.47,NaN
106,54,194611270NYK,NBA,1,1947,11/27/1946,11,0,STB,Bombers,...,44.80,NYK,Knicks,67,1327.95,1333.92,A,L,0.38,NaN
107,54,194611270NYK,NBA,0,1947,11/27/1946,10,0,NYK,Knicks,...,44.55,STB,Bombers,60,1342.26,1336.29,H,W,0.62,NaN
108,55,194611270PIT,NBA,1,1947,11/27/1946,9,0,CLR,Rebels,...,40.64,PIT,Ironmen,62,1264.89,1268.64,A,L,0.41,NaN
109,55,194611270PIT,NBA,0,1947,11/27/1946,11,0,PIT,Ironmen,...,37.72,CLR,Rebels,60,1300.31,1296.56,H,W,0.59,NaN
110,56,194611270WSC,NBA,0,1947,11/27/1946,11,0,WSC,Capitols,...,48.21,CHS,Stags,67,1310.88,1306.16,H,W,0.71,NaN
111,56,194611270WSC,NBA,1,1947,11/27/1946,12,0,CHS,Stags,...,41.65,WSC,Capitols,75,1364.74,1369.47,A,L,0.29,NaN
112,57,194611280BOS,NBA,1,1947,11/28/1946,12,0,PIT,Ironmen,...,37.20,BOS,Celtics,59,1228.79,1233.79,A,L,0.41,NaN
113,57,194611280BOS,NBA,0,1947,11/28/1946,12,0,BOS,Celtics,...,34.12,PIT,Ironmen,55,1268.64,1263.64,H,W,0.59,NaN
114,58,194611280CHS,NBA,1,1947,11/28/1946,12,0,STB,Bombers,...,45.53,CHS,Stags,72,1306.16,1299.06,A,W,0.40,NaN
115,58,194611280CHS,NBA,0,1947,11/28/1946,13,0,CHS,Stags,...,40.90,STB,Bombers,75,1336.29,1343.39,H,L,0.60,NaN
116,59,194611280GSW,NBA,0,1947,11/28/1946,6,0,PHW,Warriors,...,39.37,DTF,Falcons,68,1317.76,1333.95,H,L,0.62,NaN
117,59,194611280GSW,NBA,1,1947,11/28/1946,12,0,DTF,Falcons,...,44.55,PHW,Warriors,55,1300.63,1284.44,A,W,0.38,NaN
118,60,194611280PRO,NBA,0,1947,11/28/1946,11,0,PRO,Steamrollers,...,38.45,NYK,Knicks,60,1333.92,1339.62,H,L,0.57,NaN
119,60,194611280PRO,NBA,1,1947,11/28/1946,11,0,NYK,Knicks,...,45.14,PRO,Steamrollers,58,1281.39,1275.69,A,W,0.43,NaN
120,61,194611290TRH,NBA,0,1947,11/29/1946,12,0,TRH,Huskies,...,35.13,CLR,Rebels,87,1296.56,1313.33,H,L,0.59,NaN
121,61,194611290TRH,NBA,1,1947,11/29/1946,10,0,CLR,Rebels,...,42.40,TRH,Huskies,72,1260.38,1243.62,A,W,0.41,NaN
122,62,194611300NYK,NBA,0,1947,11/30/1946,12,0,NYK,Knicks,...,45.48,PHW,Warriors,60,1284.44,1281.17,H,W,0.71,NaN
123,62,194611300NYK,NBA,1,1947,11/30/1946,7,0,PHW,Warriors,...,39.03,NYK,Knicks,64,1339.62,1342.89,A,L,0.29,NaN
124,63,194611300PRO,NBA,1,1947,11/30/1946,13,0,TRH,Huskies,...,34.37,PRO,Steamrollers,79,1275.69,1283.10,A,L,0.32,NaN
125,63,194611300PRO,NBA,0,1947,11/30/1946,12,0,PRO,Steamrollers,...,39.23,TRH,Huskies,65,1243.62,1236.21,H,W,0.68,NaN
126,64,194611300STB,NBA,0,1947,11/30/1946,13,0,STB,Bombers,...,45.90,DTF,Falcons,57,1333.95,1330.38,H,W,0.65,NaN
127,64,194611300STB,NBA,1,1947,11/30/1946,13,0,DTF,Falcons,...,44.18,STB,Bombers,60,1343.39,1346.96,A,L,0.35,NaN
128,65,194611300WSC,NBA,0,1947,11/30/1946,12,0,WSC,Capitols,...,48.61,PIT,Ironmen,40,1263.64,1259.73,H,W,0.77,NaN
129,65,194611300WSC,NBA,1,1947,11/30/1946,13,0,PIT,Ironmen,...,36.79,WSC,Capitols,49,1369.47,1373.38,A,L,0.23,NaN
130,66,194612010CHS,NBA,1,1947,12/1/1946,13,0,BOS,Celtics,...,33.60,CHS,Stags,66,1299.06,1304.17,A,L,0.28,NaN
131,66,194612010CHS,NBA,0,1947,12/1/1946,14,0,CHS,Stags,...,41.44,BOS,Celtics,56,1233.79,1228.68,H,W,0.72,NaN
132,67,194612010CLR,NBA,1,1947,12/1/1946,14,0,DTF,Falcons,...,43.82,CLR,Rebels,49,1313.33,1316.80,A,L,0.38,NaN
133,67,194612010CLR,NBA,0,1947,12/1/1946,11,0,CLR,Rebels,...,42.76,DTF,Falcons,47,1330.38,1326.91,H,W,0.62,NaN
134,68,194612020PIT,NBA,0,1947,12/2/1946,14,0,PIT,Ironmen,...,36.03,BOS,Celtics,46,1228.68,1236.03,H,L,0.68,NaN
135,68,194612020PIT,NBA,1,1947,12/2/1946,14,0,BOS,Celtics,...,34.35,PIT,Ironmen,44,1259.73,1252.39,A,W,0.32,NaN
136,69,194612030GSW,NBA,1,1947,12/3/1946,13,0,PRO,Steamrollers,...,38.59,PHW,Warriors,76,1281.17,1287.27,A,L,0.36,NaN
137,69,194612030GSW,NBA,0,1947,12/3/1946,8,0,PHW,Warriors,...,39.67,PRO,Steamrollers,68,1283.10,1277.00,H,W,0.64,NaN
138,70,194612040NYK,NBA,1,1947,12/4/1946,15,0,DTF,Falcons,...,43.02,NYK,Knicks,70,1342.89,1350.49,A,L,0.34,NaN
139,70,194612040NYK,NBA,0,1947,12/4/1946,13,0,NYK,Knicks,...,46.27,DTF,Falcons,57,1326.91,1319.31,H,W,0.66,NaN
140,71,194612040PIT,NBA,1,1947,12/4/1946,15,0,CHS,Stags,...,42.80,PIT,Ironmen,46,1252.39,1239.35,A,W,0.43,NaN
141,71,194612040PIT,NBA,0,1947,12/4/1946,15,0,PIT,Ironmen,...,34.69,CHS,Stags,57,1304.17,1317.20,H,L,0.57,NaN
142,72,194612040WSC,NBA,0,1947,12/4/1946,13,0,WSC,Capitols,...,49.26,PRO,Steamrollers,62,1277.00,1270.57,H,W,0.76,NaN
143,72,194612040WSC,NBA,1,1947,12/4/1946,14,0,PRO,Steamrollers,...,37.92,WSC,Capitols,80,1373.38,1379.80,A,L,0.24,NaN
144,73,194612050BOS,NBA,0,1947,12/5/1946,15,0,BOS,Celtics,...,33.66,DTF,Falcons,65,1319.31,1326.03,H,L,0.52,NaN
145,73,194612050BOS,NBA,1,1947,12/5/1946,16,0,DTF,Falcons,...,43.73,BOS,Celtics,61,1236.03,1229.31,A,W,0.48,NaN
146,74,194612050CHS,NBA,0,1947,12/5/1946,16,0,CHS,Stags,...,41.66,TRH,Huskies,65,1236.21,1247.14,H,L,0.74,NaN
147,74,194612050CHS,NBA,1,1947,12/5/1946,14,0,TRH,Huskies,...,35.49,CHS,Stags,61,1317.20,1306.27,A,W,0.26,NaN
148,75,194612050GSW,NBA,1,1947,12/5/1946,14,0,NYK,Knicks,...,45.28,PHW,Warriors,62,1287.27,1296.84,A,L,0.45,NaN
149,75,194612050GSW,NBA,0,1947,12/5/1946,9,0,PHW,Warriors,...,40.67,NYK,Knicks,51,1350.49,1340.92,H,W,0.55,NaN
150,76,194612050STB,NBA,1,1947,12/5/1946,16,0,PIT,Ironmen,...,34.24,STB,Bombers,66,1346.96,1351.35,A,L,0.23,NaN

# Getting to know Pandas' data structure

In [29]:
revenues = pd.Series([555, 7000, 1980])

In [30]:
type(revenues)

pandas.core.series.Series

In [31]:
revenues

0     555
1    7000
2    1980
dtype: int64

In [33]:
revenues.values

array([ 555, 7000, 1980], dtype=int64)

In [34]:
revenues.index

RangeIndex(start=0, stop=3, step=1)

In [36]:
city_revenues = pd. Series([4200, 8000, 6500], index = ["Amsterdam", "Toronto", "Tokyo"])

In [37]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

revenues[0]

In [39]:
city_revenues["Tokyo"]

6500

In [41]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8})

In [42]:
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [46]:
city_data = pd.DataFrame({"revenue": city_revenues, "employee_count": city_employee_count})

In [47]:
city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

In [48]:
city_data.values

array([[4.2e+03, 5.0e+00],
       [6.5e+03, 8.0e+00],
       [8.0e+03,     nan]])

In [49]:
df.index

RangeIndex(start=0, stop=126314, step=1)

In [51]:
"pts" in df.keys()

True

In [52]:
colors = pd.Series(["red", "purple", "blue", "green", "yellow"], index= [1,2,4,5,8])

In [53]:
colors

1       red
2    purple
4      blue
5     green
8    yellow
dtype: object

In [58]:
colors.loc[4]

'blue'

In [57]:
colors.iloc[4]

'yellow'

In [59]:
colors.iloc[2:4]

4     blue
5    green
dtype: object

In [60]:
colors.loc[2:4]

2    purple
4      blue
dtype: object

In [62]:
city_data["revenue"]

Amsterdam    4200
Tokyo        6500
Toronto      8000
Name: revenue, dtype: int64

# Querying your Dataset

In [63]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN

In [64]:
current_decade = df[df["year_id"] > 2010]

In [66]:
current_decade

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
113656,56829,201010260BOS,NBA,1,2011,10/26/2010,1,0,MIA,Heat,...,45.14,BOS,Celtics,88,1625.10,1629.30,A,L,0.26,NaN
113657,56829,201010260BOS,NBA,0,2011,10/26/2010,1,0,BOS,Celtics,...,53.75,MIA,Heat,80,1547.36,1543.16,H,W,0.74,NaN
113658,56830,201010260LAL,NBA,1,2011,10/26/2010,1,0,HOU,Rockets,...,40.90,LAL,Lakers,112,1647.60,1649.20,A,L,0.20,NaN
113659,56830,201010260LAL,NBA,0,2011,10/26/2010,1,0,LAL,Lakers,...,55.61,HOU,Rockets,110,1504.20,1502.60,H,W,0.80,NaN
113660,56831,201010260POR,NBA,1,2011,10/26/2010,1,0,PHO,Suns,...,53.88,POR,Trailblazers,106,1552.81,1565.22,A,L,0.49,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

In [67]:
games_with_notes = df[df["notes"].notnull()]

In [68]:
games_with_notes.shape

(5424, 23)

In [73]:
df[
    (df["_iscopy"] == 0)&
    (df["pts"] > 100)&
    (df["opp_pts"] > 100) &
    (df["team_id"] == "BLB")
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1726,864,194902260BLB,NBA,0,1949,2/26/1949,53,0,BLB,Baltimore,...,38.56,MNL,Lakers,115,1637.99,1640.49,H,L,0.34,NaN
4890,2446,195301100BLB,NBA,0,1953,1/10/1953,32,0,BLB,Baltimore,...,25.80,BOS,Celtics,105,1591.14,1563.17,H,W,0.28,NaN
4909,2455,195301140BLB,NBA,0,1953,1/14/1953,34,0,BLB,Baltimore,...,24.88,MNL,Lakers,112,1665.44,1668.91,H,L,0.22,NaN
5208,2605,195303110BLB,NBA,0,1953,3/11/1953,66,0,BLB,Baltimore,...,19.58,NYK,Knicks,113,1649.15,1651.44,H,L,0.18,at Boston MA
5825,2913,195402220BLB,NBA,0,1954,2/22/1954,60,0,BLB,Baltimore,...,20.74,BOS,Celtics,111,1591.49,1593.27,H,L,0.25,at Worcester MA

In [78]:
df[
    (df["_iscopy"] == 0)&
    (df["team_id"].str.startswith("LA")) &
    (df["year_id"] == 1992) &
    (df["notes"].notnull())
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
68901,34451,199205030LAC,NBA,0,1992,5/3/1992,86,1,LAC,Clippers,...,47.89,UTA,Jazz,107,1647.51,1638.41,H,W,0.50,"at Anaheim, CA (Anaheim Convention Center)"
68903,34452,199205030LAL,NBA,0,1992,5/3/1992,86,1,LAL,Lakers,...,39.40,POR,Trailblazers,102,1655.12,1670.37,H,L,0.41,"at Las Vegas, NV"

In [79]:
df[df.duplicated(subset=['game_id', 'date_game'])]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN
5,3,194611020DTF,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,...,43.14,DTF,Falcons,33,1300.00,1279.62,A,W,0.36,NaN
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,...,41.54,BOS,Celtics,53,1300.00,1294.85,H,W,0.64,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,...,41.49,PIT,Ironmen,51,1300.00,1295.31,H,W,0.64,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126305,63153,201506070GSW,NBA,0,2015,6/7/2015,99,1,GSW,Warriors,...,67.03,CLE,Cavaliers,95,1708.17,1716.87,H,L,0.76,NaN
126307,63154,201506090CLE,NBA,0,2015,6/9/2015,99,1,CLE,Cavaliers,...,61.83,GSW,Warriors,91,1797.50,1790.96,H,W,0.53,NaN
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

In [80]:
df[(df['game_id']=='194611010TRH') & (df['date_game'] == '11/1/1946')]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.29,NYK,Knicks,68,1300.0,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.71,TRH,Huskies,66,1300.0,1293.28,A,W,0.36,NaN